@model CodegraphiaTesting.Models.Department;


<form asp-action="Create" method="post">
	<input asp-for="DepartmentName" type="text" />
	<input asp-for="DepartmentAbbr" type="text" />
	<button  type="submit">Add Department</button>
</form>